@import "reset";
@import "header";
@import "footer";

.container-txt {
    .titlebox {
        padding-left: 16px;
        border-left: 8px solid $dark-red;
        margin-bottom: 36px;
        margin-top: 96px;
    }
    .title {
        font-size: 48px;
        line-height: 72px;
    }

    .section {
        margin-bottom: 40px;
        span{
            font-size: 24px;
        }
        select{
            border: 1px solid  $gray;
            font-size: 18px;
            width: 304px;
            margin-left: 16px;
            padding: 12px 6px;
            color: $gray;
        }
    }
}
.card-list{
    margin-bottom: 80px;
}
.card +.card{
    margin-left: 24px;
}
.card:nth-child(4){
    margin-left: 0px;
}
.card {
    box-sizing: border-box;
    width: 32.0987%;
    margin-bottom: 48px;
    .card-title {
        border-top: none;
        border: 1px solid $gray;
        padding: 8px 24px;
        font-size: 24px;
    }
    .card-txt {
        border-top: none;
        border-bottom: none;
        border: 1px solid $gray;
        i{
            width: 18px;
            text-align: center;
            font-size: 18px;
            margin-right: 11px;
        }
        font-size: 20px;
        padding: 16px 26px;
    }
    button {
        width: 100%;
        color: $white;
        background-color: $black;
        font-size: 19px;
        padding: 16px 170px;
    }
}