* {
  font-family: 'Noto Serif TC', serif; }

h1, h2, h3, p, li {
  line-height: 1.5em; }

a, a:hover {
  display: block;
  color: #FFFFFF;
  text-decoration: none; }

.wrap {
  margin: 0 auto;
  max-width: 1920px; }

.container-txt {
  margin: 0 auto;
  max-width: 67.5%; }

.page-title {
  border-left: 8px solid #650300;
  padding-left: 16px;
  font-size: 48px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 32px; }

img {
  max-width: 100%;
  vertical-align: bottom; }

button {
  border: none;
  font-size: 20px; }

.layer-darkRed {
  background-color: #AA0601;
  color: #FFFFFF; }

.flex-spb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.flex-cen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.flex-str {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start; }

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start; }

.switcbox {
  margin-bottom: 80px; }
  .switcbox li {
    font-size: 18px;
    line-height: 1.5em;
    padding: 12px 16px;
    border: 1px solid #000; }
  .switcbox li:hover {
    background-color: #000000;
    color: #FFFFFF; }
  .switcbox li:first-child,
  .switcbox li:last-child {
    font-size: 19px;
    padding: 11px 12px; }

@media screen and (max-width: 768px) {
  .container-txt {
    margin: 0 auto;
    max-width: 696px; }
  .db-ipad {
    display: block; } }

@media screen and (max-width: 375px) {
  .container-txt {
    margin: 0 auto;
    max-width: 95%; }
  .page-title {
    font-size: 24px; } }

header {
  position: relative; }

.header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 0; }

.logo img {
  width: 80px; }

.main-menu li > a {
  font-size: 20px;
  line-height: 30px;
  margin-right: 64px; }

.main-menu li:last-child > a {
  margin-right: 0px; }

.sub-menu-wrap {
  display: none;
  background-color: #fff;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0; }

.sub-menu {
  background-color: #fff; }
  .sub-menu li {
    width: 33.3333%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .sub-menu a + a {
    border-left: 1px solid #000; }
  .sub-menu a {
    width: 100%;
    padding: 24px 0;
    font-size: 32px;
    color: #000000;
    text-align: center; }
  .sub-menu a.actived,
  .sub-menu a:hover {
    border-bottom: 8px solid #AA0601; }

.switch-header:hover .sub-menu-wrap {
  display: block; }

@media screen and (max-width: 375px) {
  .main-menu {
    display: none; } }

footer {
  padding-top: 60px; }

.footer-top .footer-left li {
  margin-right: 48px; }

.footer-top .footer-left li:last-child {
  margin-right: 0px; }

.footer-top .footer-right li {
  width: 48px;
  height: 48px;
  margin-right: 32px; }

.footer-top .footer-right li:last-child {
  margin-right: 0px; }

.footer-middle {
  line-height: 54px;
  font-size: 36px;
  margin-bottom: 8px;
  padding-bottom: 32px;
  border-bottom: 1px solid #FFFFFF; }

.footer-bottom {
  padding: 32px 0;
  font-size: 14px; }
  .footer-bottom .footer-bottom-right li {
    list-style: none;
    margin-right: 48px; }
  .footer-bottom .footer-bottom-right li:last-child {
    margin-right: 0px; }

@media (max-width: 768px) {
  .footer-top .footer-right li {
    width: 40px;
    height: 40px;
    margin-right: 16px; } }

@media (max-width: 375px) {
  footer {
    padding-top: 24px; }
  .footer-top {
    position: relative; }
    .footer-top .footer-left {
      display: none; }
    .footer-top .footer-right {
      position: absolute;
      right: 0%; }
      .footer-top .footer-right li {
        width: 24px;
        height: 24px;
        margin-right: 8px; }
  .footer-middle {
    line-height: 24px;
    font-size: 16px;
    padding-bottom: 24px;
    border-bottom: 1px solid #FFFFFF; }
  .db-phone {
    display: block; }
  .footer-bottom {
    padding: 16px 0 24px;
    font-size: 16px;
    line-height: 24px; } }

h2 {
  font-size: 64px;
  text-align: center; }

.bold-txt-red {
  text-align: center;
  font-weight: 900;
  color: #650300; }

.bold-txt {
  font-size: 48px;
  line-height: 72px; }

.bold-txt-mb {
  margin-bottom: 48px; }

.banner-wrap {
  background-size: cover;
  background-image: url("../images/home-header.png"); }

.banner {
  width: 100%;
  height: 787px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end; }

.banner-txt {
  text-align: end;
  color: #650300; }
  .banner-txt h1 {
    font-size: 36px; }
  .banner-txt button {
    padding: 6px 12px;
    color: #FFFFFF;
    background-color: #650300; }

[class*=section] {
  padding: 80px 0; }

.section2 {
  color: #650300;
  background-color: #FBF2F2; }
  .section2 h2 {
    margin-bottom: 32px; }
  .section2 li {
    width: 260px; }
  .section2 li > div {
    margin: 0 auto;
    padding: 8.08px;
    width: 100px; }
  .section2 h3 {
    text-align: center;
    margin: 16px 0 8px;
    font-size: 24px;
    font-weight: 900; }
  .section2 p {
    color: #000000;
    font-size: 16px; }

.section3 p {
  margin-top: 8px; }

.section3 .pic {
  max-width: 416px; }

.section4 {
  background-image: url("../images/index-bg.png"); }
  .section4 h2 {
    color: #FFFFFF; }
  .section4 .pic {
    width: 50%; }
    .section4 .pic p {
      background-color: #fff;
      padding: 8px 0; }

.section5 .card {
  width: 306px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.section5 .photo-txt {
  padding: 16px;
  border: 1px solid #00000029;
  border-top: none; }

.section5 h4 {
  font-weight: 900;
  margin-bottom: 8px; }

.section5 h4 + p {
  margin-bottom: 72px; }

.section5 p + p {
  font-size: 14px; }

.email-box {
  padding: 80px 0;
  background-color: #FBF2F2; }
  .email-box .email-box-wrap {
    margin: 0 auto;
    width: 636px; }
    .email-box .email-box-wrap p {
      margin-bottom: 8px; }
    .email-box .email-box-wrap p:first-child {
      margin-bottom: 24px; }
    .email-box .email-box-wrap > input {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      width: 100%;
      color: #00000029;
      padding: 6px 12px;
      margin-bottom: 16px; }
    .email-box .email-box-wrap .check {
      margin-bottom: 48px; }
      .email-box .email-box-wrap .check input {
        width: 24px;
        height: 24px; }
      .email-box .email-box-wrap .check label {
        font-size: 16px;
        line-height: 24px; }
    .email-box .email-box-wrap button {
      display: block;
      width: 416px;
      margin: 0 auto;
      text-align: center;
      padding: 16px 0;
      color: #FFFFFF;
      background-color: #650300; }

@media screen and (max-width: 768px) {
  .banner-wrap {
    background-size: 100% auto;
    background-image: url("../images/home-header-sm.png"); }
  .db-ipad {
    display: block; }
  .section2 h2 {
    margin-bottom: 32px; }
  .section2 li {
    width: 48.275%; }
  .section2 h3 {
    margin: 24px 0 8px;
    font-size: 24px; }
  .section3 p {
    margin-bottom: 24px; }
  .section3 .pic {
    margin: 0 auto;
    max-width: 336px; }
  .section4 .pic {
    width: 100%; }
  .section4 .pic + .pic {
    margin-top: 24px; }
  .section5 .card-list {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
  .section5 .card {
    width: 48.275%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; } }

@media screen and (max-width: 375px) {
  .banner-wrap {
    height: 396px;
    background-size: 100% auto;
    background-image: url("../images/home-header-sm.png"); }
  .banner {
    width: 100%;
    height: 396px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end; }
  .banner-txt {
    text-align: center;
    color: #650300; }
    .banner-txt h1 {
      font-size: 16px; }
    .banner-txt h2 {
      font-size: 24px;
      text-align: center; }
    .banner-txt button {
      padding: 6px 12px;
      color: #FFFFFF;
      background-color: #650300; }
  .section2 h2 {
    font-size: 24px;
    text-align: center; }
  .section2 li {
    width: 100%; }
  .section2 h3 {
    margin: 16px 0 8px; }
  .section5 .card-list {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
  .section5 .card {
    width: 100%;
    margin-bottom: 16px; }
  .section5 .card:last-child {
    margin-bottom: 0px; }
  .email-box {
    padding: 40px 0; }
    .email-box .email-box-wrap {
      max-width: 343px; }
      .email-box .email-box-wrap button {
        width: 100%; } }

/*# sourceMappingURL=index.css.map */
